$gray-100: rgba(65, 61, 75, 0.75);
$gray-200: #413d4b;
$blue: #81fff7;
$aqua-blue: #00e0d0;
$black: #000;
$white: #fff;

$base-font-sans-serif: 'Roboto', sans-serif;
$base-font-btn: 'Hammersmith One', sans-serif;
$base-font-h: 'Playfair Display', serif;

$base-text-color: $white;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$base-min-width: 320px;

$base-link-color: $blue;

$form-element-border-color: $gray-100;
$form-element-focus-border-color: $black;
$placeholder-color: $gray-100 ;

$h1-font-size: 32px;
$h2-font-size: 22px;
